---
import MainLayout from "../layout/mainLayout.astro";
import type { PokemonListResponse } from "../interfaces/pokemon-list.response"; // Import the PokemonListResponse type
import PokemonCard from "../components/pokemonCard.astro";

const title = "Pokemon";

const resp = await fetch("https://pokeapi.co/api/v2/pokemon");

const data = (await resp.json()) as PokemonListResponse;
---

<MainLayout title={title}>
  <h1 class="text-3xl">List of Pokemons</h1>
  <hr />
  <section
    aria-label="Pokemon List"
    class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 gap-4 mt-4"
  >
    {
      data.results.map((pokemon) => (
        <PokemonCard name={pokemon.name} imageUrl={pokemon.url} />
      ))
    }
  </section>
</MainLayout>
